<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta nombre="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a7a9706bc8.js" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12 my-5 mx-3">
        <h1 class="text-center">Bienvenid@ {{user.nombre}}!!!</h1>
        <div class="d-flex col-4">
            <a href="/viaje/new" class="btn btn-primary m-1">Agregar Viaje</a>
            <a href="/logout" class="btn btn-info m-1">Logout</a>
        </div>
    </nav>

    <div class="col-8 mx-auto">
        <h2 class="text-primary">Tus Horarios de Viaje</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Destino</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Plan</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for viaje in viajes %}
                    <tr>
                        <td>{{viaje.destino}}</td>
                        <td>{{viaje.fecha_inicio.strftime('%d %B %Y')}}</td>
                        <td>{{viaje.fecha_fin.strftime('%d %B %Y')}}</td>
                        <td>{{viaje.plan}}</td>
                        <td>
                            <a href="/viaje/{{viaje.id}}" style="text-decoration:none">
                                <button class="btn btn-sm btn-primary" type="button">
                                    <i class="fa fa-eye"></i></button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-8 mx-auto">
        <h2 class="text-primary">Horarios de Viajes de Otros</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Destino</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Plan</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for viaje_otros in viajes_otros %}
                    <tr>
                        <td>{{viaje_otros.nombre}}</td>
                        <td>{{viaje_otros.destino}}</td>
                        <td>{{viaje_otros.fecha_inicio.strftime('%d %B %Y')}}</td>
                        <td>{{viaje_otros.fecha_fin.strftime('%d %B %Y')}}</td>
                        <td>{{viaje_otros.plan}}</td>
                        <td>
                            <a href="/viaje/{{viaje_otros.id}}" style="text-decoration:none">
                                <button class="btn btn-sm btn-primary" type="button">
                                    <i class="fa fa-eye"></i></button>
                            </a>
                            <a style="text-decoration:none">
                                <form action="/viaje/join" method="post">
                                    <input type="hidden" name="viaje_id" value={{viaje_otros.id}}>
                                    <input type="submit" value="Unirse" class="btn btn-primary my-1">
                                </form>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>