<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Receta</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="d-flex justify-content-between align-items-center col-12 my-5 mx-3">
        <h1 class="text-center">Bienvenid@ {{user.nombre}}!!!</h1>
        <div class="d-flex col-3">
            <a href="/dashboard" class="btn btn-primary m-1">Recetas</a>
            <a href="/logout" class="btn btn-info m-1">Logout</a>
        </div>
    </nav>

    <form action="/recipe/create" method="post" class="col-10 p-4 my-4 bg-light mx-auto">
        <h2 class="text-primary">Agregar Nueva Receta</h2>
        {% with messages = get_flashed_messages(category_filter=['recipe']) %}
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            <strong>Errores:</strong>
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <div class="d-flex col-12">
            <div class="col-5">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre" class="form-control">
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripcion:</label>
                    <textarea name="descripcion" cols="30" rows="5" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="instrucciones">Instrucciones:</label>
                    <textarea name="instrucciones" cols="30" rows="5" class="form-control"></textarea>
                </div>
            </div>
            <div class="col-2">
            </div>
            <div class="col-5">
                <div class="form-group">
                    <label for="fecha_elaboracion">Fecha Elaboracion:</label>
                    <input type="date" name="fecha_elaboracion" class="form-control">
                </div>
                <div class="form-group">
                    <label for="bajotiempo">Bajo los 30 minutos?:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="bajotiempo" id="1" value="1" checked>
                        <label class="form-check-label" for="bajotiempo">
                            Sí
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="bajotiempo" id="0" value="0">
                        <label class="form-check-label" for="bajotiempo">
                            No
                        </label>
                    </div>
                </div>
                <br>
                <input type="submit" value="Agregar" class="btn btn-primary">
            </div>
        </div>
    </form>
</body>

</html>