<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Perfil Usuario</title>
    <link href="/static/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="/static/js/usuarios.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/static/js/scripts.js"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand ps-3" href="index.html">Hermes</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        </form>
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" href="/dashboard">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <a class="nav-link" href="/usuarios">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Usuarios
                        </a>
                        <a class="nav-link" href="/eventos">
                            <div class="sb-nav-link-icon"><i class="fas fa-edit"></i></div>
                            Eventos
                        </a>
                        <a class="nav-link" href="/bandas">
                            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                            Bandas
                        </a>
                        <a class="nav-link" href="/solicitudes">
                            <div class="sb-nav-link-icon"><i class="fa fa-bell"></i></div>
                            Solicitudes
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main style="background: #f4f6fa">
                <div ng-app="music_events" ng-controller="UsuarioCtrl">
                    <div class="container-fluid px-4">
                        <section style="background-color: #f4f5f7;">
                            <div class="container">
                                <div class="row d-flex justify-content-center align-items-center h-100">
                                    <div class="col col-lg-12 my-4 mb-lg-0">
                                        <div class="card mb-3" style="border-radius: .5rem;">
                                            <div class="row g-0">
                                                <div class="col-md-4 gradient-custom text-center text-white d-flex justify-content-center align-items-center"
                                                    style="flex-direction: column;"
                                                    style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                                        alt="Avatar" class="img-fluid my-2" style="width: 30%;" />
                                                    <h2> {{usuario.nombres}} {{usuario.apellidos}}</h2>
                                                    <h2>{{genero.nombre}}</h2>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body p-4">
                                                        <h6>Información</h6>
                                                        <hr class="mt-0 mb-4">
                                                        <div class="row pt-1">
                                                            <div class="col-12 mb-3">
                                                                <h6>Identificación:</h6>
                                                                <p class="text-muted">{{usuario.identificacion}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="row pt-1">
                                                            <div class="col-6 mb-3">
                                                                <h6>Email:</h6>
                                                                <p class="text-muted">{{usuario.email}}</p>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>Celular:</h6>
                                                                <p class="text-muted">{{usuario.celular}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="row pt-1">
                                                            <div class="col-12 mb-3">
                                                                <h6>Dirección:</h6>
                                                                <p class="text-muted">{{usuario.direccion}}</p>
                                                            </div>
                                                        </div>
                                                        <h6>Descripción</h6>
                                                        <hr class="mt-0 mb-4">
                                                        <div class="row pt-1">
                                                            <div class="col-12 mb-3">
                                                                <p class="text-muted">
                                                                    {{usuario.descripcion}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <h6>Instrumentos</h6>
                                                        <hr class="mt-0 mb-4">
                                                        <div class="row pt-1">
                                                            {% for instrumento in instrumentos %}
                                                                <div class="col-6 mb-3">
                                                                    <img src="/static/img/{{instrumento.nombre}}.png"
                                                                        alt="{{instrumento.nombre}}" width="100px" height="100px">
                                                                    <p class="text-muted">{{instrumento.nombre}}</p>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                        <h6>Rating</h6>
                                                        <hr class="mt-0 mb-4">
                                                        <div class="row pt-1">
                                                            <div class="col-6 mb-3">
                                                                {% for x in range(0,calificacion) %}
                                                                    <span class="stars fa fa-star checked-stars"></span>
                                                                {% endfor %}
                                                                {% for x in range(0,(5-calificacion)) %}
                                                                    <span class="stars fa fa-star"></span>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Hermes - C02 2022</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>

</html>