<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Calificar </title>
    <link href="/static/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="/static/js/eventos.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <script src="/static/js/scripts.js"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand ps-3" href="index.html">Hermes</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        </form>
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" href="/dashboard">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <a class="nav-link" href="/eventos">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Eventos
                        </a>
                        <a class="nav-link" href="/eventos">
                            <div class="sb-nav-link-icon"><i class="fas fa-edit"></i></div>
                            Eventos
                        </a>
                        <a class="nav-link" href="/bandas">
                            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                            Bandas
                        </a>
                        <a class="nav-link" href="/solicitudes">
                            <div class="sb-nav-link-icon"><i class="fa fa-bell"></i></div>
                            Solicitudes
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main style="background: #f4f6fa">
                <div ng-app="music_events" ng-controller="EventoCtrl">
                    <div class="container-fluid px-4" ng-init="getEvento({{id}})">
                        <form name="rating_form" role="form" method="post" class="col-12 px-4 py-1 pb-4 my-4 mx-auto bg-white" ng-submit="rating({{id}})">
                            <h1 class="mt-4">Calificar Evento</h1>
                            <div style="text-align: center">
                                <span class="rating__result"></span> 
                                <a ng-click="calificar(1)" class="btn p-0" style="margin-top: 25px">
                                    <i id="star1" class="stars fa fa-star checked-stars"></i>
                                </a>
                                <a ng-click="calificar(2)" class="btn p-0" style="margin-top: 25px">
                                    <i id="star2" class="stars fa fa-star"></i>
                                </a>
                                <a ng-click="calificar(3)" class="btn p-0" style="margin-top: 25px">
                                    <i id="star3" class="stars fa fa-star"></i>
                                </a>
                                <a ng-click="calificar(4)" class="btn p-0" style="margin-top: 25px">
                                    <i id="star4" class="stars fa fa-star"></i>
                                </a>
                                <a ng-click="calificar(5)" class="btn p-0" style="margin-top: 25px">
                                    <i id="star5" class="stars fa fa-star"></i>
                                </a>
                            </div>
                            <div class="col-12 mt-5">
                                <a href="/eventos" class="btn btn-danger m-1">Cancelar</a>
                                <input type="submit" value="Guardar" class="btn btn-primary" style="float: right;">
                            </div>
                        </form>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Hermes - C02 2022</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>

</html>